<div class="container">

    <ul class="nav">
        <li class="nav-item">
            <h1 style="color:red;">Welcome to CMA </h1>
            
            





            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" style="color:brown;">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="userlist" ></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="productlist" style="color:rgb(96, 6, 156);">Scheduled Meetings</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" routerLink="productform" style="color:rgb(96, 6, 156);">Create Meeting</a>
                    </li>
                  </ul>
                 
                </div>
              </nav>

              <h3 style="color:blue;">This application is used to Schedule and view Scheduled Meetings </h3>
      
        </li>
      
      </ul>
    
    <router-outlet></router-outlet>
</div>
